{% extends "base.html" %}

{% block content %}
  <section style="text-align:center; padding: 80px 20px;">
    <h1 style="font-size: 3rem; color: #065BAD; margin-bottom: 20px;">
      Notes
    </h1>
    <p style="font-size: 1.3rem; color: #444; margin-bottom: 40px;">
     Neal <strong>Guo</strong> 
    </p>
    <a href="{{ base_url }}/cs/" style="background:#065BAD; color:white; padding:12px 24px; border-radius:8px; text-decoration:none; font-weight:bold;">
      Go
    </a>
  </section>

  <!-- <section style="display:flex; justify-content:center; gap:30px; padding:40px 20px; flex-wrap:wrap;">
    <div style="flex:1; min-width:250px; max-width:300px; border:1px solid #eee; border-radius:12px; padding:20px; box-shadow:0 2px 6px rgba(0,0,0,0.05);">
      <h3>💻 CS 笔记</h3>
      <p>记录计算机基础、算法、编程相关知识</p>
      <a href="{{ base_url }}/cs/">进入 →</a>
    </div>
    <div style="flex:1; min-width:250px; max-width:300px; border:1px solid #eee; border-radius:12px; padding:20px; box-shadow:0 2px 6px rgba(0,0,0,0.05);">
      <h3>🛢️ 石油工程</h3>
      <p>海工 & 能源行业学习笔记</p>
      <a href="{{ base_url }}/oil/">进入 →</a>
    </div>
  </section> -->
{% endblock %}